body {
    margin:0;
}

.container-head {
    padding: 17px 15px;
    position: relative;
}

.container-head-left {
    position: absolute;
    text-align: left;
    font-size: 18pt;
}

.container-head-center {
    text-align: center;
    font-family: 'PingFangSC';
    color:#333333;
    font-size: 18pt;
}

.container-line {
    background:#E9E9E9;
    height:1px;
    width:100%;
}

.container-content-top{
    height: 195px;
}

.container-content-bottom{
    text-align: center;
}

.container-content-success {
    text-align: center;
    margin-top: 105px; 
}

.container-content-collected {
    text-align: center;
    margin-top: 80px; 
}

.container-content-top-success #imageHD{
    width: 80px;
    height:103px;
}

.container-content-bottom-success {
    font-family: 'PingFangSC';
    color:#999999;
    font-size:14px;
    margin-top:22px;
}

.container-content-top-collected #imageHD{
    width: 190px;
    height:115px;
}

.container-content-bottom-collected {
    font-family: 'PingFangSC';
    color:#999999;
    font-size:14px;
    margin-top:40px;
} 